os:
  - linux
  - osx
language: rust
rust:
  - stable
  
# https://levans.fr/rust_travis_cache.html
cache: cargocache:
  directories:
    - /home/travis/.cargo
before_cache:
  - rm -rf /home/travis/.cargo/registry
  
before_install:
  - rustup toolchain add nightly
  - rustup component add clippy --toolchain=nightly
  - rustup component add rustfmt

script:
  - cargo test --verbose --workspace
  - cargo +nightly clippy
  - cargo fmt -- --check
  - cargo run
  - cargo run -- ~
